<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @sponsor.url %>
</p>

<p>
  <b>Logo:</b>
  <%= @sponsor.logo %>
</p>

<p>
  <b>Exhibitor:</b>
  <%= @sponsor.exhibitor_id %>
</p>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
